
@media only screen and (max-width: 770px) {
    /*#c_name {
        text-align: center;
        margin-left: 0;
    }*/
    #c_video_container {
        padding-top: 10px; 
        width: 100%;
    }
    #course_video {
        display: block;
        margin: 0 auto;
        width: 100% auto;
        height:  auto;
    }
    #path {
        text-align: center;
    }
    #main_c_descr_bot {
        margin: 8%;
        text-align: center;
    }
    #corse_descr{
        margin-right: 0;
    }
    #path_c_name:hover, #path_c_part:hover, #path_c_lesson:hover {
        color: rgb(12, 235, 131);
    }
}

@media only screen and (max-width: 500px) {
    #course_video {
        width: 100% ;
        height:  auto;
    }
}